//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "nullstyle.scss";
//====================================================
//<ШРИФТЫ>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*font-family: 'Roboto', sans-serif;*/
//@import url('../fonts/banny-fonts/stylesheet.css');
//font-family: 'Banny Round';*/
//====================================================
//<ПЕРЕМЕННЫЕ>
$minw: 320;
$maxw: 1180;//изменить в соответствии с макетом!
$md1: 991.98;
$md2: 780;
$md3: 767.98;
$md4: 575.98;
$md5: 479.98;
$md6: 426;
$md7: 375;
//====================================================
//<МИКСИНЫ>
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex;display: flex;}
@mixin flexorder($fz) {-webkit-order: $fz;-moz-order: $fz;order: $fz;}
//====================================================
//<ОСНОВНАЯ СЕТКА>
body {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
}
.wrapper {
	max-width: 1600px;
	margin: 0 auto;
}
.container {
	max-width: none/*$maxw+px*/;
	padding: 0px 210px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: 1440px) {
		//max-width: none;
		padding: 0px 70px;
	}
	@media (max-width: 1200px) {
		//max-width: 950px;
	}
	@media (max-width: $md1+px) {
		max-width: none;
		padding: 0px 30px;
	}
	@media (max-width: $md6+px) {
		padding: 0px 20px;
	}
}

/*===HEADER===*/
.header {
	width: 100%;
	padding-top: 50px;
}
.header-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
}
.header__logo {
	flex: 0.25;
	img {
		//max-width: 100%;
		display: block;
	}
}
.header__menu {
	flex: 1;
	display: flex;
	justify-content: space-between;
}
.header__list {
	display: flex;
	li {
		margin-left: 36px;
	}
}
.header__link {
	font-size: 16px;
	line-height: 19px;
	color: #8794BA;
	&:hover,
	&:active {
		color: #fff;
	}
}
.header-buttons {
	display: flex;
}
.header-signin {
	margin-right: 40px;
}
.header__btn {
	font-size: 16px;
	line-height: 19px;
	color: #8794BA;
	&:hover,
	&:active {
		color: #fff;
	}
}
.header-signin__btn {}
.header-signup {}
.header-signup__btn {
	border: 1px solid #465B95;
	border-radius: 68px;
	padding: 10.5px 53px;
	&:hover {
		border: 1px solid #fff;
	}
}
.header__burger {
	display: none;
}
/*===MOBILE MENU===*/
@media (max-width: $md1+px) {
	body.lock {
		overflow: hidden;
	}
	.header {
		padding-top: 20px;
	}
	.header-body {
		//height: 50px;
	}
	.header__logo {
		//flex: 1;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
		span {
			position: absolute;
			background-color: #465B95;
			width: 100%;
			height: 2px;
			left: 0;
			top: 9px;
			transition: all 0.3s ease 0s;
			border-radius: 20px;
			&:hover,
			&:active {
				background-color: #fff;
			}
		}
	}
	.header__burger:before,
	.header__burger:after {
		content: '';
		background-color: #465B95;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
		border-radius: 20px;
		&:hover,
		&:active {
			background-color: #fff;
		}
	}
	.header__burger:before {
		top: 0;
	}
	.header__burger:after {
		bottom: 0;
	}
	.header__burger.active span {
		transform: scale(0);
		background-color: #fff;
	}
	.header__burger.active:before {
		transform: rotate(45deg);
		top: 9px;
		background-color: #fff;
	}
	.header__burger.active:after {
		transform: rotate(-45deg);
		bottom: 9px;
		background-color: #fff;
	}
	.header__menu {
		display: block;
		flex: 0;
		position: fixed;
		width: 100%;
		height: 100%;
		left: 0;
		top: -100%;
		overflow: auto;
		background-color: #172755;
		padding: 80px 0 20px 30px;
		transition: all 0.3s ease 0s;
	}
	.header__menu.active {
		top: 0;
	}
	.header__list {
		display: block;
		li {
			margin: 0 0 26px 0;
		}
	}
	.header__link,
	.header__btn {
		font-size: 18px;
		line-height: 21px;
	}
	.header-buttons {
		display: block;
	}
	.header-signin {
		margin-right: 0;
		margin-bottom: 26px;
	}
	.header-signup__btn {
		border: 0;
		padding: 0;
	}
}
@media (max-width: $md3+px) {
	.header__logo {
		flex: 0 1 150px;
		img {
			max-width: 100%;
		}
	}
}
@media (max-width: $md6+px) {
	.header {
		padding-top: 10px;
	}
	.header__menu {
		padding: 80px 0 20px 20px;
	}
}

//===ОСНОВНОЙ БЛОК===//
.content {
	margin-top: -90px;
}
@media (max-width: $md1+px) {
	.content {
		margin-top: -60px;
	}
}
@media (max-width: $md6+px) {
	.content {
		margin-top: -50px;
	}
}

/*===MAIN SECTION===*/
.main {
	height: 815px;
	background-image: url('../img/main/bg.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0% 0%;
	padding: 164px 0 0;
}
.main-body {
	display: flex;
	justify-content: space-between;
	padding-left: 210px;
}
.main-body__text {
	flex: 0 1 550px;
	padding-top: 78px;
	margin-right: 41px;
}
.main__title {
	font-weight: bold;
	font-size: 50px;
	line-height: 60px;
	color: #fff;
	margin-bottom: 15px;
}
.main__text {
	font-size: 18px;
	line-height: 27px;
	color: #8794BA;
	margin-bottom: 49px;
}
.main-button {
	display: flex;
}
.main__btn {
	color: #fff;
	background-color: #EF2A82;
	padding: 15.5px 80px;
	&:hover,
	&:active {
		background-color: transparent;
		border: 1px solid #fff;
	}
}
.btn {
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	border-radius: 68px;
}
.main-body__image {}
.main__img {
	max-width: 100%;
}
@media (max-width: 1440px) {
	.main-body {
		padding-left: 50px;
	}
}
@media (max-width: 1200px) {
	.main {
		height: auto;
		padding: 164px 0 30px;
	}
	.main-body {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 50px;
	}
	.main-body__text {
		flex: auto;
		max-width: 550px;
		margin-right: 0;
		margin-bottom: 50px;
	}
	.main__title,
	.main__text {
		text-align: center;
	}
	.main-button {
		justify-content: center;
	}
}
@media (max-width: $md1+px) {
	.main {
		padding: 242px 0 258px;
	}
	.main-body {
		padding: 0 30px;
	}
	.main-body__text {
		margin-bottom: 0;
		padding-top: 0;
	}
	.main-body__image {
		display: none;
	}
}
@media (max-width: $md4+px) {
	.main {
		background-size: cover;
		padding: 200px 0 160px;
	}
	.main__title {
		font-size: 40px;
		line-height: 50px;
	}
}
@media (max-width: $md6+px) {
	.main-body {
		padding: 0 20px;
	}
}
@media (max-width: $md7+px) {
	.main {
		padding: 160px 0 130px;
	}
	.main__title {
		font-size: 30px;
		line-height: 40px;
	}
	.main__text {
		font-size: 16px;
		line-height: 25px;
		margin-bottom: 39px;
	}
}
@media (max-width: $minw+px) {
	.main__btn {
		display: block;
		width: 100%;
		padding: 15.5px 0;
	}
}
/*===FEATURES SECTION===*/
.features {
	padding-top: 38px;
}
.features-top {
	margin-bottom: 81px;
}
.features__title {
	text-align: center;
}
.title--h2 {
	font-weight: bold;
	font-size: 40px;
	line-height: 47px;
	color: #172755;
	margin-bottom: 30px;
}
.features__text {
	max-width: 1060px;
	margin: 0 auto;
	text-align: center;
}
.text--section {
	font-size: 18px;
	line-height: 27px;
	color: #8794BA;
}
.features-bottom {
	display: flex;
	justify-content: center;
}
.features-bottom__column {
	margin-right: 40px;
	&:last-child {
		margin-right: 0;
	}
}
.features-bottom__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.features-bottom__img {
	display: block;
	margin-bottom: 26px;
}
.features-bottom__title {
	margin-bottom: 15px;
}
.title--h4 {
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color: #172755;
}
.features-bottom__text {
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #8794BA;
}
@media (max-width: $md1+px) {
	.features-top {
		margin-bottom: 50px;
	}
	.features-bottom {
		flex-direction: column;
	}
	.features-bottom__column {
		margin-right: 0;
		margin-bottom: 50px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.features-bottom__item {
		max-width: 380px;
		margin: 0 auto;
	}
}
@media (max-width: $md6+px) {
	.title--h2 {
		font-size: 30px;
		line-height: 37px;
		margin-bottom: 20px;
	}
	.text--section {
		font-size: 16px;
		line-height: 25px;
	}
	.features-bottom__column {
		margin-bottom: 40px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.features-bottom__img {
		margin-bottom: 20px;
	}
}
@media (max-width: $md7+px) {
	.title--h2 {
		font-size: 26px;
		line-height: 33px;
		margin-bottom: 20px;
	}
}

/*===REPORTS SECTION===*/
.reports {
	padding-top: 130px;
}
.reports-body {}
.section-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.reports-body__column {
	&:first-child {
		margin-right: 100px;
	}
}
.body-column__txt {}
.reports-column__item {}
.column-txt__item {}
.reports__title {}
.reports__text {}
.body-column__img {
	flex: 0 0 600px;
}
.reports-column__img {}
.column-img__item {
	height: 410px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
	border-radius: 30px;
	img {
		display: block;
	}
}
@media (max-width: 1200px) {
	.section-body {
		flex-wrap: wrap;
		justify-content: center;
	}
	.reports-body__column {
		&:first-child {
			margin-right: 0;
			margin-bottom: 50px;
		}
	}
	.body-column__img {
		flex: 0 1 600px;
	}
	.title--h2 {
		text-align: center;
	}
	.column-txt__item {
		max-width: 1060px;
		margin: 0 auto;
	}
	.text--section {
		text-align: center;
	}
	.column-img__item {
		img {
			max-width: 100%;
		}
	}
}
@media (max-width: $md3+px) {
	.reports {
		padding-top: 90px;
	}
	.column-img__item {
		height: auto;
		padding: 30px;
	}
}
@media (max-width: $md6+px) {
	.reports {
		padding-top: 70px;
	}
	.reports-body__column {
		&:first-child {
			margin-bottom: 30px;
		}
	}
	.reports__title {
		br {
			display: none;
		}
	}
	.column-img__item {
		border-radius: 20px;
		padding: 15px;
	}
}

/*===CUSTOMIZATION SECTION===*/
.customization {
	padding-top: 120px;
}
.customization-body {}
.customization-body__column {
	&:first-child {
		margin-right: 100px;
	}
}
.customization-column__img {}
.customization-column__item {}
.customization__title {
	max-width: 480px;
}
.customization__text {}
@media (max-width: 1200px) {
	.customization-body__column {
		&:first-child {
			@include flexorder(2);
			margin-right: 0;
		}
		&:last-child {
			@include flexorder(1);
			margin-bottom: 50px;
		}
	}
	.customization__title {
		margin-left: auto;
		margin-right: auto;
	}
}
@media (max-width: $md3+px) {
	.customization {
		padding-top: 90px;
	}
}
@media (max-width: $md6+px) {
	.customization {
		padding-top: 70px;
	}
	.customization-body__column {
		&:last-child {
			margin-bottom: 30px;
		}
	}
}

/*===TEMPLATES SECTION===*/
.templates {
	padding: 120px 0 114px;
}
.templates-body {}
.templates-body__column {
	&:first-child {
		margin-right: 100px;
	}
}
.templates-column__item {}
.templates__title {}
.templates__text {}
.templates-column__img {}
@media (max-width: 1200px) {
	.templates-body__column {
		&:first-child {
			margin-right: 0;
			margin-bottom: 50px;
		}
	}
}
@media (max-width: $md3+px) {
	.templates {
		padding: 90px 0;
	}
}
@media (max-width: $md6+px) {
	.templates {
		padding: 70px 0;
	}
	.templates-body__column {
		&:first-child {
			margin-bottom: 30px;
		}
	}
	.templates {
		br {
			display: none;
		}
	}
}

//===CONTENT BOTTOM===//
.content-bottom {
	background-image: url('../img/pricing/bg.jpg');
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0% 0%;
}

/*===PRICING SECTION===*/
.pricing {
	padding: 272px 0 100px;
}
.pricing-top {
	max-width: 690px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}
.pricing__title {
	text-align: center;
}
.title--h2--white {
	color: #fff;
}
.pricing__text {
	text-align: center;
}
.pricing-bottom {
	display: flex;
	justify-content: center;
}
.pricing-bottom__column {
	flex: 0 1 340px;
	margin-right: 80px;
	&:last-child {
		margin-right: 0;
	}
}
.pricing-bottom__item {
	max-width: 340px;
	background-color: #0F1F4B;
	//opacity: 0.7;
	box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
	border-radius: 30px;
	padding: 50px 0 70px;
}
.bottom__item--central {
	background-color: #fff;
}
.pricing-bottom__title,
.pricing-bottom__price {
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;
	text-align: center;
	color: #fff;
}
.pricing-bottom__title {
	margin-bottom: 10px;
}
.pricing-bottom__price {
	span {
		font-weight: bold;
		font-size: 60px;
		line-height: 70px;
		text-align: center;
		color: #fff;
		&.blue {
			color: #172755;
		}
	}
}
.blue {
	color: #172755;
}
.pricing-bottom__subtitle {
	font-size: 18px;
	line-height: 27px;
	text-align: center;
	color: #8794BA;
	&::after {
		content: "";
		display: block;
		width: 220px;
		height: 1px;
		position: relative;
		left: 0;
		right: 0;
		background-color: #2A407C;
		margin: 0 auto;
		margin-top: 37px;
		margin-bottom: 28px;
	}
}
.pricing-bottom__period {
	font-size: 16px;
	line-height: 22px;
	text-align: center;
	color: #8794BA;
	margin-bottom: 40px;
}
.pricing-bottom-button {
	display: flex;
	justify-content: center;
}
.pricing-bottom__btn {
	display: block;
	height: 50px;
	color: #fff;
	border: 1px solid #2A407C;
	padding: 15.5px 80px;
	&:hover,
	&:active {
		border: 1px solid #fff;
	}
}
.btn--pink {
	background-color: #EF2A82;
	border: none;
	&:hover,
	&:active {
		color: #EF2A82;
		background-color: transparent;
		border: 1px solid #EF2A82;
	}
}
@media (max-width: 1200px) {
	.pricing-bottom__column {
		margin-right: 40px;
		&:last-child {
			margin-right: 0;
		}
	}
}
@media (max-width: $md1+px) {
	.content-bottom {
		background-size: cover;
		background-position: 100% 0%;
	}
	.pricing {
		padding: 192px 0 100px;
	}
	.pricing-top {
		margin-bottom: 50px;
	}
	.pricing-bottom {
		flex-wrap: wrap;
	}
	.pricing-bottom__column {
		flex: 1 1 100%;
		margin-right: 0;
		margin-bottom: 50px;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.pricing-bottom__item {
		max-width: 340px;
		margin: 0 auto;
	}
}
@media (max-width: $md3+px) {
	.pricing {
		padding: 170px 0 90px;
	}
}
@media (max-width: $md6+px) {
	.pricing {
		padding: 130px 0 70px;
	}
}
@media (max-width: $minw+px) {
	.pricing-bottom__item {
		border-radius: 20px;
		padding: 40px 0 60px;
	}
}

/*===FOOTER===*/
.footer {}
.footer-body {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid #2A407C;
	padding: 63px 0 103px;
}
.footer-body__logo {}
.footer__logo {
	img {}
}
.footer-body__menu {}
.footer-menu__list {
	display: flex;
	li {
		margin-right: 36px;
		&:last-child {
			margin-right: 0;
		}
	}
}
.footer__link {
	font-size: 14px;
	line-height: 16px;
	color: #8794BA;
}
.footer-body__social {}
.footer-social__list {
	display: flex;
	li {
		margin-right: 40px;
		&:last-child {
			margin-right: 0;
		}
	}
}
.footer__social {
	img {}
}
@media (max-width: $md1+px) {
	.footer-body {
		flex-direction: column;
		padding: 63px 0 83px;
	}
	.footer-body__logo {
		margin-bottom: 30px;
	}
	.footer-body__menu {
		margin-bottom: 40px;
	}
}
@media (max-width: $md6+px) {
	.footer-body {
		align-items: flex-start;
		padding: 53px 0 73px;
	}
	.footer-menu__list {
		flex-direction: column;
		//align-items: center;
		li {
			margin-right: 0;
			margin-bottom: 20px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}